{% extends "layout.html" %}

{% block content %}
<h1>Registration Page</h1>
<div>
	<!-- post on the same route with empty action -->
	<form action="" method="POST">
		<!-- hidden tag is like csrf token for protection -->
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<div class="form-group">
				{{ form.name.label(class="form-control-label") }}

				<!-- if data not valid , display errors -->
				{% if form.name.errors %}
					{{ form.name(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.name.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.name(class="form-control") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.age.label(class="form-control-label") }}

				<!-- if data not valid , display errors -->
				{% if form.age.errors %}
					{{ form.age(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.age.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.age(class="form-control") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.username.label(class="form-control-label") }}

				<!-- if data not valid , display errors -->
				{% if form.username.errors %}
					{{ form.username(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.username.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.username(class="form-control") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.email.label(class="form-control-label") }}

				<!-- if data not valid , display errors -->
				{% if form.email.errors %}
					{{ form.email(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email(class="form-control") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.password.label(class="form-control-label") }}

				<!-- if data not valid , display errors -->
				{% if form.password.errors %}
					{{ form.password(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form-control") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.confirm_password.label(class="form-control-label") }}

				<!-- if data not valid , display errors -->
				{% if form.confirm_password.errors %}
					{{ form.confirm_password(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.confirm_password(class="form-control") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}